{{> header}}
<div class="sub-titulo">
    <h1 style="margin-top: 20px;">Bienvenidos a nuestra pagina web !!!</h1>
        <ul style="margin-top: 30px;">
            <li style="margin-bottom: 10px;">
                <a class="inicio-enlaces" href="/login">Login</a>
            </li>
            {{#if session.session.loggedIn}}
                <a class="inicio-enlaces" href="/logout">Logout</a>
            {{/if}}
            <li style="margin-top: 20px;">
                <a class="inicio-enlaces" href="/realtimeproducts">Real Time Products</a>
            </li>
        </ul>
</div>

<script src="/public/js/products.js"></script>
