{{> header}}

<div class="">
    <h1 class="sub-titulo">Agregar Productos</h1>
    <form method="post" action="/prods" class="formulario">
        <div>
            <input type="text" class="casilleros" id="thumbnails" name="Url" placeholder="URL del Producto...">
        </div>
        <div>
            <input type="text" class="casilleros" id="title" name="Producto" placeholder="Nombre del Producto...">
        </div>
        <div>
            <input type="text" class="casilleros" id="price" name="Precio" placeholder="Precio del Producto...">
        </div>
        <input type="button" class="boton" id="btnAgregarProducto" value="Agregar">
        <h2>Eliminar Productos</h2>
        <div>
            <input type="text" class="casilleros" id="idProduct" name="Eliminar" placeholder="Id del Producto...">
        </div>
        <input type="button" class="boton" id="btnEliminarProducto" value="Eliminar">
    </form>
</div>
<script src="socket.io/socket.io.js"></script>
<script src="../public/js/realTimeProducts.js"></script>
