{{> header}}
<div class="portada">
    <h1>Registrate</h1>
        <form class="user-formulario">
            <div>
                <input type="text" class="casilleros user-cas" id="first_name" placeholder="Nombre...">
            </div>
            <div>
                <input type="text" class="casilleros user-cas" id="last_name" placeholder="Apellido...">
            </div>
            <div>
                <input type="text" class="casilleros user-cas" id="email" placeholder="Email...">
            </div>
            <div>
                <input type="text" class="casilleros user-cas" id="age" placeholder="Edad...">
            </div>
            <div>
                <input type="password" class="casilleros user-cas" id="password" placeholder="Contraseña...">
            </div>
        <button type="button" class="boton " id="btnRegister">Registrar</button>
    </form>
</div>

<script src="/js/register.js"></script>