{{> header}}
<div class="portada">
    <h1>Restaurá tu Contraseña</h1>
    <form class="user-formulario">
        <div>
            <input type="text" class="casilleros user-cas" id="email" placeholder="usuario...">
        </div>
        <div>
            <input type="password" class="casilleros user-cas" id="password" placeholder="nueva contraseña...">
        </div>
        <button type="button" class="boton user-boton" id="btnRestore">Restaurar</button>
    </form>
</div>      

<script src="../public/js/restore.js"></script>