<header class="header">
        <h1 class="titulo">Bienvenidos a nuestra pagina web !!!</h1>
</header>
<main>
    <div class="portada">
        <h1>Restaurá tu Contraseña</h1>
        <form class="user-formulario">
            <div>
                <input type="text" class="casilleros user-cas" id="email" placeholder="Email...">
            </div>
            <div>
                <input type="password" class="casilleros user-cas" id="password" placeholder="Nueva Contraseña...">
            </div>
            <button type="button" class="boton user-boton" id="btnLogIn">Restaurar</button>
        </form>
    </div>      
</main>
<script src="/js/restore.js"></script>