<header class="header">
    <nav>
        <h1 class="titulo">Lista de productos</h1>
        <div class="enlaces">
            <a href="/" class="enlace">inicio</a>
            <a href="../realtimeproducts" class="enlace">realtimeproducts</a>
            <a href="../chat" class="enlace">chat</a>

        </div>
    </nav>
</header>